<!DOCTYPE html>
<html>
  <head>
    <title>AsessmentToolPointB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="h-screen">

      <nav class="flex justify-between bg-backcolor text-pbwhite">
        <%= render 'shared/main_nav_bar' %>
      </nav>

      <div class="flex h-fit">
        <nav class="pt-10 pl-5">
          <%= render 'shared/left_nav_bar' %>
        </nav>
        <section class="w-full flex inline-flex flex-col">
          <%= yield %>
        </section>
      </div>
      <%= render 'shared/footer' %>
    </main>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
